services:
  frontend:
    image: ${DOCKER_PROJECT_NAME}-frontend-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-frontend-${DOCKER_NAMESPACE}-container
    build:
      context: ./frontend/
      dockerfile: ./.docker/Dockerfile
    stdin_open: true
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    environment:
      NODE_ENV: ${NODE_ENV}
      NODE_OPTIONS: ${NODE_OPTIONS}
      VITE_PORT: ${FRONTEND_PORT}
      VITE_PREFECT_API_URL: ${PREFECT_API_URL}
      VITE_ZARR_STORE_PATH: ${ZARR_STORE_PATH}
      VITE_APP_SITEMINDER_LOGOUT_URL: ${SITEMINDER_LOGOUT_URL}
      VITE_APP_KEYCLOAK_HOST: ${KEYCLOAK_HOST}
      VITE_APP_KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      VITE_APP_KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}
    volumes:
      - ./frontend:/opt/app-root/src
      - /opt/app-root/src/node_modules
      - ./workflows/data:/opt/app-root/src/public/data
    networks:
      - conservation-network

  prefect_server:
    build:
      context: ./workflows
      dockerfile: ./.docker/Dockerfile.server
    image: ${DOCKER_PROJECT_NAME}-prefect-server-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-prefect-server-${DOCKER_NAMESPACE}-container
    stdin_open: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4200/api/health"]
      interval: 15s
      timeout: 15s
      retries: 10
    depends_on:
      db_setup:
        condition: service_completed_successfully
    ports:
      - "4200:4200"
      - "8080:8080"
    environment:
      PREFECT_SERVER_API_HOST: 0.0.0.0
      PREFECT_UI_API_URL: http://localhost:4200/api
      PREFECT_API_DATABASE_CONNECTION_URL: postgresql+asyncpg://${DB_USER_PREFECT}:${DB_USER_PREFECT_PASS}@db:5432/${DB_DATABASE}
    networks:
      - conservation-network

  prefect_worker:
    build:
      context: ./workflows
      dockerfile: Dockerfile.worker
    stdin_open: true
    image: ${DOCKER_PROJECT_NAME}-prefect-worker-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-prefect-worker-${DOCKER_NAMESPACE}-container
    command: ["prefect", "worker", "start", "-p", "local"]
    volumes:
      - ./workflows/data:/data
    depends_on:
      prefect_deploy:
        condition: service_completed_successfully
    ports:
    - "8787:8787"  # Expose the 
    environment:
      PREFECT_API_URL: http://prefect_server:4200/api
      ZARR_STORE_PATH: ${ZARR_STORE_PATH}
      CONSERVATION_API_URL: ${CONSERVATION_API_URL}
      INTERNAL_API_KEY: ${INTERNAL_API_KEY}
      OBJECT_STORE_URL: ${OBJECT_STORE_URL}
      OBJECT_STORE_ACCESS_KEY_ID: ${OBJECT_STORE_ACCESS_KEY_ID}
      OBJECT_STORE_SECRET_KEY_ID: ${OBJECT_STORE_SECRET_KEY_ID}
      OBJECT_STORE_BUCKET_NAME: ${OBJECT_STORE_BUCKET_NAME}
      S3_KEY_PREFIX: ${S3_KEY_PREFIX}
    networks:
      - conservation-network

  prefect_deploy:
    build:
      context: ./workflows
      dockerfile: Dockerfile.deploy
    image: ${DOCKER_PROJECT_NAME}-prefect-deploy-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-prefect-deploy-${DOCKER_NAMESPACE}-container
    depends_on:
      prefect_server:
        condition: service_healthy
    command: ["bash", "src/setup.sh"]
    environment:
      PREFECT_API_URL: http://prefect_server:4200/api
      ZARR_STORE_PATH: ${ZARR_STORE_PATH}
    networks:
      - conservation-network

  db:
    image: ${DOCKER_PROJECT_NAME}-db-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-db-${DOCKER_NAMESPACE}-container
    build:
      context: ./database/.docker/db
      dockerfile: Dockerfile
      args:
        POSTGRES_VERSION: ${POSTGRES_VERSION}
        POSTGIS_VERSION: ${POSTGIS_VERSION}
        TZ: ${DB_TZ}
    ports:
      - "${DB_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $DB_ADMIN -p 5432 -d $DB_DATABASE"]
      interval: 5s
      timeout: 5s
      retries: 30
    environment:
      NODE_ENV: ${NODE_ENV}
      POSTGRES_USER: ${DB_ADMIN}
      POSTGRES_PASSWORD: ${DB_ADMIN_PASS}
      POSTGRES_DB: ${DB_DATABASE}
      PORT: 5432
      PGDATA: ${PGDATA}/${POSTGRES_VERSION}
    volumes:
      - postgres:${PGDATA}
    networks:
      - conservation-network

  db_setup:
    image: ${DOCKER_PROJECT_NAME}-db-setup-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-db-setup-${DOCKER_NAMESPACE}-container
    build:
      context: ./database
      dockerfile: ./.docker/db/Dockerfile.setup
    environment:
      NODE_ENV: ${NODE_ENV}
      DB_HOST: ${DB_HOST}
      DB_ADMIN: ${DB_ADMIN}
      DB_ADMIN_PASS: ${DB_ADMIN_PASS}
      DB_PORT: 5432
      DB_DATABASE: ${DB_DATABASE}
      DB_SCHEMA: ${DB_SCHEMA}
      DB_USER_API: ${DB_USER_API}
      DB_USER_API_PASS: ${DB_USER_API_PASS}
      DB_USER_PREFECT: ${DB_USER_PREFECT}
      DB_USER_PREFECT_PASS: ${DB_USER_PREFECT_PASS}
    volumes:
      - /opt/app-root/src/node_modules
    depends_on:
      db:
        condition: service_healthy
    command: ["npm", "run", "setup"]
    networks:
      - conservation-network

  api:
    image: ${DOCKER_PROJECT_NAME}-api-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-api-${DOCKER_NAMESPACE}-container
    build:
      context: ./api
      dockerfile: ./.docker/Dockerfile
    ports:
      - "${API_PORT}:${API_PORT}"
    environment:
      NODE_ENV: ${NODE_ENV}
      NODE_OPTIONS: ${NODE_OPTIONS}
      TZ: ${DB_TZ}
      API_HOST: ${API_HOST}
      API_PORT: ${API_PORT}
      DB_HOST: ${DB_HOST}
      DB_USER_API: ${DB_USER_API}
      DB_USER_API_PASS: ${DB_USER_API_PASS}
      DB_USER_PREFECT: ${DB_USER_PREFECT}
      DB_USER_PREFECT_PASS: ${DB_USER_PREFECT_PASS}
      DB_PORT: 5432
      DB_DATABASE: ${DB_DATABASE}
      DB_SCHEMA: ${DB_SCHEMA}
      DB_POOL_SIZE: ${DB_POOL_SIZE}
      DB_CONNECTION_MAX_USES: ${DB_CONNECTION_MAX_USES}
      DB_CONNECTION_TIMEOUT: ${DB_CONNECTION_TIMEOUT}
      DB_IDLE_TIMEOUT: ${DB_IDLE_TIMEOUT}
      KEYCLOAK_HOST: ${KEYCLOAK_HOST}
      KEYCLOAK_REALM: ${KEYCLOAK_REALM}
      KEYCLOAK_ADMIN_USERNAME: ${KEYCLOAK_ADMIN_USERNAME}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KEYCLOAK_API_TOKEN_URL: ${KEYCLOAK_API_TOKEN_URL}
      KEYCLOAK_API_CLIENT_ID: ${KEYCLOAK_API_CLIENT_ID}
      KEYCLOAK_API_CLIENT_SECRET: ${KEYCLOAK_API_CLIENT_SECRET}
      KEYCLOAK_API_HOST: ${KEYCLOAK_API_HOST}
      KEYCLOAK_API_ENVIRONMENT: ${KEYCLOAK_API_ENVIRONMENT}
      OBJECT_STORE_URL: ${OBJECT_STORE_URL}
      OBJECT_STORE_ACCESS_KEY_ID: ${OBJECT_STORE_ACCESS_KEY_ID}
      OBJECT_STORE_SECRET_KEY_ID: ${OBJECT_STORE_SECRET_KEY_ID}
      OBJECT_STORE_BUCKET_NAME: ${OBJECT_STORE_BUCKET_NAME}
      S3_KEY_PREFIX: ${S3_KEY_PREFIX}
      APP_HOST: ${APP_HOST}
      ZARR_STORE_PATH: ${ZARR_STORE_PATH}
      PREFECT_API_URL: ${PREFECT_API_URL}
      PREFECT_API_KEY: ${PREFECT_API_KEY}
      INTERNAL_API_KEY: ${INTERNAL_API_KEY}
    volumes:
      - ./api:/opt/app-root/src
      - /opt/app-root/src/node_modules
    depends_on:
      db:
        condition: service_healthy
      db_setup:
        condition: service_completed_successfully
    networks:
      - conservation-network

networks:
  conservation-network:
    driver: bridge

volumes:
  postgres:
    name: ${DOCKER_PROJECT_NAME}-db-${DOCKER_NAMESPACE}-vol
