services:
  frontend:
    image: ${DOCKER_PROJECT_NAME}-frontend-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-frontend-${DOCKER_NAMESPACE}-container
    build:
      context: ./frontend/
      dockerfile: ./.docker/Dockerfile
    stdin_open: true
    ports:
      - ${FRONTEND_PORT}:${FRONTEND_PORT}
    environment:
      - NODE_ENV=${NODE_ENV}
      - NODE_OPTIONS=${NODE_OPTIONS}
      - VITE_PORT=${FRONTEND_PORT}
      - VITE_PREFECT_API_URL=${PREFECT_API_URL}
      - VITE_ZARR_STORE_PATH=${ZARR_STORE_PATH}
      - VITE_APP_SITEMINDER_LOGOUT_URL=${SITEMINDER_LOGOUT_URL}
      - VITE_APP_KEYCLOAK_HOST=${KEYCLOAK_HOST}
      - VITE_APP_KEYCLOAK_REALM=${KEYCLOAK_REALM}
      - VITE_APP_KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
    volumes:
      - ./frontend:/opt/app-root/src
      - /opt/app-root/src/node_modules
      - ./workflows/data:/opt/app-root/src/public/data
    networks:
      - conservation-network

  prefect_server:
    build:
      context: ./workflows
      dockerfile: ./.docker/Dockerfile.server
    image: ${DOCKER_PROJECT_NAME}-prefect-server-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-prefect-server-${DOCKER_NAMESPACE}-container
    stdin_open: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4200/api/health"]
      interval: 15s
      timeout: 15s
      retries: 10
    depends_on:
      db_deploy:
        condition: service_completed_successfully
    ports:
      - 4200:4200
      - 8080:8080
    environment:
      - PREFECT_SERVER_API_HOST=0.0.0.0
      - PREFECT_UI_API_URL=http://localhost:4200/api
      - PREFECT_API_DATABASE_CONNECTION_URL=postgresql+asyncpg://${DB_USER_PREFECT}:${DB_USER_PREFECT_PASS}@db:5432/${DB_DATABASE}
    networks:
      - conservation-network

  prefect_worker:
    build:
      context: ./workflows
      dockerfile: Dockerfile.worker
    stdin_open: true
    image: ${DOCKER_PROJECT_NAME}-prefect-worker-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-prefect-worker-${DOCKER_NAMESPACE}-container
    command: ["prefect", "worker", "start", "-p", "local"]
    volumes:
      - ./workflows/data:/data
    depends_on:
      prefect_deploy:
        condition: service_completed_successfully
    environment:
      - PREFECT_API_URL=http://prefect_server:4200/api
      - ZARR_STORE_PATH=${ZARR_STORE_PATH}
    networks:
      - conservation-network

  prefect_deploy:
    build:
      context: ./workflows
      dockerfile: Dockerfile.deploy
    image: ${DOCKER_PROJECT_NAME}-prefect-deploy-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-prefect-deploy-${DOCKER_NAMESPACE}-container
    depends_on:
      prefect_server:
        condition: service_healthy
    command: ["bash", "src/setup.sh"]
    environment:
      - PREFECT_API_URL=http://prefect_server:4200/api
      - ZARR_STORE_PATH=${ZARR_STORE_PATH}
    networks:
      - conservation-network

  db:
    image: ${DOCKER_PROJECT_NAME}-db-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-db-${DOCKER_NAMESPACE}-container
    build:
      context: ./database/.docker/db
      dockerfile: Dockerfile
      args:
        - POSTGRES_VERSION=${POSTGRES_VERSION}
        - POSTGIS_VERSION=${POSTGIS_VERSION}
        - TZ=${DB_TZ}
    ports:
      - ${DB_PORT}:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $DB_ADMIN -p 5432 -d $DB_DATABASE"]
      interval: 5s
      timeout: 5s
      retries: 30
    environment:
      - NODE_ENV=${NODE_ENV}
      - POSTGRES_USER=${DB_ADMIN}
      - POSTGRES_PASSWORD=${DB_ADMIN_PASS}
      - POSTGRES_DB=${DB_DATABASE}
      - PORT=5432
      - PGDATA=${PGDATA}/${POSTGRES_VERSION}
    networks:
      - conservation-network
    volumes:
      - postgres:${PGDATA}

  db_setup:
    image: ${DOCKER_PROJECT_NAME}-db-setup-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-db-setup-${DOCKER_NAMESPACE}-container
    build:
      context: ./database
      dockerfile: ./.docker/db/Dockerfile.setup
    environment:
      - NODE_ENV=${NODE_ENV}
      - DB_HOST=${DB_HOST}
      - DB_ADMIN=${DB_ADMIN}
      - DB_ADMIN_PASS=${DB_ADMIN_PASS}
      - DB_PORT=5432
      - DB_DATABASE=${DB_DATABASE}
      - DB_SCHEMA=${DB_SCHEMA}
      - DB_USER_API=${DB_USER_API}
      - DB_USER_API_PASS=${DB_USER_API_PASS}
    volumes:
      - /opt/app-root/src/node_modules
    networks:
      - conservation-network
    depends_on:
      db:
        condition: service_healthy
    command: ["npm", "run", "setup"]

  ## Build the api docker image
  api:
    image: ${DOCKER_PROJECT_NAME}-api-${DOCKER_NAMESPACE}-img
    container_name: ${DOCKER_PROJECT_NAME}-api-${DOCKER_NAMESPACE}-container
    build:
      context: ./api
      dockerfile: ./.docker/api/Dockerfile
    ports:
      - ${API_PORT}:${API_PORT}
    environment:
      - NODE_ENV=${NODE_ENV}
      - NODE_OPTIONS=${API_NODE_OPTIONS}
      # ITIS API
      - ITIS_SOLR_URL=${ITIS_SOLR_URL}
      - TZ=${API_TZ}
      - API_HOST=${API_HOST}
      - API_PORT=${API_PORT}
      - DB_HOST=${DB_HOST}
      - DB_USER_API=${DB_USER_API}
      - DB_USER_API_PASS=${DB_USER_API_PASS}
      - DB_PORT=5432
      - DB_DATABASE=${DB_DATABASE}
      - DB_SCHEMA=${DB_SCHEMA}
      - DB_POOL_SIZE=${DB_POOL_SIZE}
      - DB_CONNECTION_MAX_USES=${DB_CONNECTION_MAX_USES}
      - DB_CONNECTION_TIMEOUT=${DB_CONNECTION_TIMEOUT}
      - DB_IDLE_TIMEOUT=${DB_IDLE_TIMEOUT}
      # Keycloak
      - KEYCLOAK_HOST=${KEYCLOAK_HOST}
      - KEYCLOAK_REALM=${KEYCLOAK_REALM}
      # Keycloak Service client
      - KEYCLOAK_ADMIN_USERNAME=${KEYCLOAK_ADMIN_USERNAME}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
      # Keycloak CSS API
      - KEYCLOAK_API_TOKEN_URL=${KEYCLOAK_API_TOKEN_URL}
      - KEYCLOAK_API_CLIENT_ID=${KEYCLOAK_API_CLIENT_ID}
      - KEYCLOAK_API_CLIENT_SECRET=${KEYCLOAK_API_CLIENT_SECRET}
      - KEYCLOAK_API_HOST=${KEYCLOAK_API_HOST}
      - KEYCLOAK_API_ENVIRONMENT=${KEYCLOAK_API_ENVIRONMENT}
      # Object Store (S3)
      - OBJECT_STORE_URL=${OBJECT_STORE_URL}
      - OBJECT_STORE_ACCESS_KEY_ID=${OBJECT_STORE_ACCESS_KEY_ID}
      - OBJECT_STORE_SECRET_KEY_ID=${OBJECT_STORE_SECRET_KEY_ID}
      - OBJECT_STORE_BUCKET_NAME=${OBJECT_STORE_BUCKET_NAME}
      - S3_KEY_PREFIX=${S3_KEY_PREFIX}
      # Quarantine Object Store (S3)
      - QUARANTINE_OBJECT_STORE_URL=${QUARANTINE_OBJECT_STORE_URL}
      - QUARANTINE_OBJECT_STORE_ACCESS_KEY_ID=${QUARANTINE_OBJECT_STORE_ACCESS_KEY_ID}
      - QUARANTINE_OBJECT_STORE_SECRET_KEY_ID=${QUARANTINE_OBJECT_STORE_SECRET_KEY_ID}
      - QUARANTINE_OBJECT_STORE_BUCKET_NAME=${QUARANTINE_OBJECT_STORE_BUCKET_NAME}
      - MAX_REQ_BODY_SIZE=${MAX_REQ_BODY_SIZE}
      - MAX_UPLOAD_NUM_FILES=${MAX_UPLOAD_NUM_FILES}
      - MAX_UPLOAD_FILE_SIZE=${MAX_UPLOAD_FILE_SIZE}
      # Logging
      - LOG_LEVEL=${LOG_LEVEL}
      - LOG_LEVEL_FILE=${LOG_LEVEL_FILE}
      - LOG_FILE_DIR=${LOG_FILE_DIR}
      - LOG_FILE_NAME=${LOG_FILE_NAME}
      - LOG_FILE_DATE_PATTERN=${LOG_FILE_DATE_PATTERN}
      - LOG_FILE_MAX_SIZE=${LOG_FILE_MAX_SIZE}
      - LOG_FILE_MAX_FILES=${LOG_FILE_MAX_FILES}
      # Clamav
      - CLAMAV_PORT=${CLAMAV_PORT}
      - CLAMAV_HOST=${CLAMAV_HOST}
      - ENABLE_FILE_VIRUS_SCAN=${ENABLE_FILE_VIRUS_SCAN}
      # GCNotify
      - GCNOTIFY_SECRET_API_KEY=${GCNOTIFY_SECRET_API_KEY}
      - GCNOTIFY_ADMIN_EMAIL=${GCNOTIFY_ADMIN_EMAIL}
      - GCNOTIFY_REQUEST_ACCESS_SECURE_DOCUMENTS=${GCNOTIFY_REQUEST_ACCESS_SECURE_DOCUMENTS}
      - GCNOTIFY_ONBOARDING_REQUEST_EMAIL_TEMPLATE=${GCNOTIFY_ONBOARDING_REQUEST_EMAIL_TEMPLATE}
      - GCNOTIFY_ONBOARDING_REQUEST_SMS_TEMPLATE=${GCNOTIFY_ONBOARDING_REQUEST_SMS_TEMPLATE}
      - GCNOTIFY_EMAIL_URL=${GCNOTIFY_EMAIL_URL}
      - GCNOTIFY_SMS_URL=${GCNOTIFY_SMS_URL}
      - APP_HOST=${APP_HOST}
    volumes:
      - ./api:/opt/app-root/src
      - /opt/app-root/src/node_modules # prevents local node_modules overriding container node_modules
    networks:
      - biohubbc-network
    depends_on:
      db:
        condition: service_healthy
      db_setup:
        condition: service_completed_successfully


networks:
  conservation-network:
    driver: bridge

volumes:
  postgres:
    name: ${DOCKER_PROJECT_NAME}-db-${DOCKER_NAMESPACE}-vol
