apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "conservation-tool.fullname.frontend" . }}-ingress-from-router
  namespace: {{ .Values.namespace | default (include "conservation-tool.namespace" .) }}
  labels:
    {{- include "conservation-tool.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      app: {{ include "conservation-tool.fullname.frontend" . }}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              network.openshift.io/policy-group: ingress